body,
html {
  height: 100%;
  margin: 0;
}

.bg {
  /* The image used */
  background-image: url("../images/hgexpress.jpg");

  /* Full height */
  height: 100%;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

img {
  position: absolute;
  text-emphasis: center;
  top: 15%;
  width: 45%;
  margin-left: 30%;
}

h1 {
  position: absolute;
  top: 20%;
  left:34%;
  z-index: 1;
  font-family: "HarryP",'Times New Roman', Times, serif;
  font-size: 50px;
  color: rgba(124, 13, 13, 0.76);
 }

 @font-face{
font-family: "HarryP";
src: url("../fonts/HARRYP__.TTF");
}

#start {
 position: absolute;
  top: 45%;
  left:37%;
  z-index: 1;
  font-family: "HarryP",'Times New Roman', Times, serif;
  font-size: 80px;
  color: rgba(124, 13, 13, 0.76);
  padding: 10px 50px;
  background-color: rgba(206, 153, 7, 0.726);
  border-radius: 12px;
  border-color: rgba(124, 13, 13, 0.76);
}