body,
html {
  height: 100%;
  margin: 0;
}

.bg {
  /* The image used */
  background-image: url("../images/hgexpress.jpg");

  /* Full height */
  height: 100%;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

img {
  position: absolute;
  text-emphasis: center;
  top: 15%;
  width: 45%;
  margin-left: 30%;
}

h1 {
  position: absolute;
  top: 20%;
  left: 34%;
  z-index: 1;
  font-family: "HarryP", "Times New Roman", Times, serif;
  font-size: 50px;
  color: rgba(124, 13, 13, 0.76);
}

@font-face {
  font-family: "HarryP";
  src: url("../fonts/HARRYP__.TTF");
}

#start {
  position: absolute;
  top: 45%;
  left: 37%;
  z-index: 1;
  font-family: "HarryP", "Times New Roman", Times, serif;
  font-size: 80px;
  color: rgba(124, 13, 13, 0.76);
  padding: 10px 50px;
  background-color: rgba(206, 153, 7, 0.726);
  border-radius: 12px;
  border-color: rgba(124, 13, 13, 0.76);
}

#time-left {
  position: absolute;
  top: 30%;
  left: 40%;
  z-index: 1;
  font-family: "HarryP", "Times New Roman", Times, serif;
  font-size: 20px;
  color: black;
}

.btn-grid {
  display: grid;
  grid-template-columns: repeat(auto);
  gap: 10px;
  margin: 20px 0;
}

.btn {
  border-radius: 5px;
  padding: 5px 10px;
  outline: none;
}

.btn:hover {
  border-color: black;
}

#question-container {
  width: 20%;
  background-color: white;
  border-radius: 5px;
  padding: 10px;
  box-shadow: 0 0 10px 2px;
  position: absolute;
  top: 48%;
  left: 33%;
  z-index: 1;
  font-family: "HarryP", "Times New Roman", Times, serif;
  font-size: 20px;
}

.hide {
  display: none;
}
