body,
html {
  height: 100%;
  margin: 0;
}

.bg {
  /* The image used */
  background-image: url("../images/hgexpress.jpg");

  /* Full height */
  height: 100%;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

img {
  position: absolute;
  text-emphasis: center;
  top: 15%;
  width: 45%;
  margin-left: 30%;
}

h1 {
  position: absolute;
  top: 26%;
  left:35%;
  z-index: 1;
  font-family: "HarryP",'Times New Roman', Times, serif;
  font-size: 50px;
 }

 @font-face{
font-family: "HarryP";
src: url("../fonts/HARRYP__.TTF");
}
